body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f3;
    margin: 0;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: #f3f3f3;
}

.chat-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

body.dark-mode .chat-container {
    background-color: #2c2c2c;
}

#chat-box {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.message {
    display: inline-block;
    max-width: 80%;
    border-radius: 18px; /* Full rounded corners */
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 20px;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
    clear: both;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

body.dark-mode .message.bot {
    background-color: #3a3a3a;
    color: #f3f3f3;
}

body.dark-mode .message.user {
    background-color: #007aff;
}

.message.bot {
    background-color: #f0f0f0;
    color: black;
    align-self: flex-start;
}

.message.user {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
}

.user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background: #fff;
}

body.dark-mode .user-input {
    background: #2c2c2c;
    border-top: 1px solid #444;
}

#user-message {
    border: none;
    padding: 15px;
    flex-grow: 1;
    font-size: 16px;
    background: none;
    color: inherit;
}

body.dark-mode #user-message {
    background: #1e1e1e;
    color: #f3f3f3;
}

#send-button {
    border: none;
    padding: 15px;
    background: #007aff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.typing-indicator {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 15px 20px; 
    border-radius: 18px 18px 18px 0;
    background-color: #f0f0f0;
    color: black;
    align-self: flex-start;
    font-size: 20px;
    line-height: 1.4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    animation: slideInFromBottom 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}

body.dark-mode .typing-indicator {
    background-color: #3a3a3a;
    color: #f3f3f3;
}

.typing-indicator.expanded {
    max-height: 40px;
}

.typing-indicator span {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 12px; 
    margin-right: 5px; 
    width: 12px; 
    animation-name: blink;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.typing-indicator span:nth-child(2) {
    animation-delay: .2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(80%) translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

/* Toggle Switch Styles */
.toggle-switch {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
}

.toggle-switch input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-switch label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: #bfbfbf;
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle-switch label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-switch input:checked + label {
    background: #007aff;
}

.toggle-switch input:checked + label::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active:after {
    width: 30px;
}

/* Unvisited link */
a:link {
    color: #0a84ff; /* Change this color to whatever you prefer */
}

/* Visited link */
a:visited {
    color: #ba5bf1; /* Change this color to whatever you prefer */
}

/* Hovered link */
a:hover {
    color: #f1b25b; /* Change this color to whatever you prefer */
}
/* 